.example-spacer {
    flex: 1 1 auto;
  }
  .example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-image: url('../../../../../assets/images/moviwIcon.jpg');
    background-size: cover;
  }